
+configs/nn_list3.params

# Mostly the same as nn_list3.params.  Just the following changes:

file_name = data/nn_list_data0.dat data/nn_list_data1.dat data/nn_list_data2.dat
file_list2 = data/nn_list_data_files.txt
rand_file_list2 = data/nn_list_rand_files.txt

# Note: Not in output directory.  This is intentional to test output in current dir.
nn_file_name = nn_list6.out
