name: TreeCorr CI

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ${{ matrix.os }}


        strategy:
            matrix:
                # First all python versions in basic linux
                os: [ ubuntu-latest ]
                py: [ 2.7, 3.5, 3.6, 3.7, 3.8, 3.9, pypy3 ]
                CC: [ gcc ]
                CXX: [ g++ ]

                # Add some other particular combinations to test
                include:
                    # A couple in MacOS
                    - os: macos-latest
                      py: 2.7
                      CC: cc
                      CXX: c++

                    - os: macos-latest
                      py: 3.7
                      CC: cc
                      CXX: c++

                    # Check one with clang compiler
                    - os: ubuntu-latest
                      py: 3.7
                      CC: clang
                      CXX: clang++

        steps:
            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.py }}
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.py }}

            - name: Cache pip
              uses: actions/cache@v2
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
                restore-keys: |
                    ${{ runner.os }}-pip-
                    ${{ runner.os }}-

            - name: Install libffi, etc. on linux
              if: matrix.os == 'ubuntu-latest'
              run: |
                echo ${{ matrix.os }}
                sudo -H apt-get -qq update
                sudo -H apt-get install -y libffi-dev openmpi-bin libopenmpi-dev

            - name: Install libffi, etc. on MacOS
              if: matrix.os == 'macos-latest'
              # brew sometimes exits with 1 if things are already installed.
              # continue-on-error means that this still counds as success for this step.
              continue-on-error: true
              run: |
                echo ${{ matrix.os }}
                brew update
                brew install libffi openmpi

            - name: Install basic dependencies
              run: |
                python -m pip install -U pip

                # Do this first to clarify potential conflicts
                pip install -U numpy

                # Standard dependencies
                pip install -U -r requirements.txt

                # Extra packages needed for testing
                pip install -U codecov fitsio mpi4py

            - name: Install py2.7 dependencies
              if: matrix.py == 2.7
              run: |
                pip install -U pytest==3.2 pytest-cov==2.4

                # halotools doesn't work anymore in 3.x (because of astropy change), so do this in
                # 2.7.And also test h5py here.
                pip install -U h5py halotools

            - name: Install py3.x dependencies
              if: matrix.py > 3.0
              run: |
                pip install -U pytest pytest-cov mockmpi

            - name: Install py3.7 dependencies
              # Optional dependencies only on 3.7
              # They are slow to install, especially 3.8 and pypy, where some are installed
              # from scratch.
              if: matrix.py > 3.0
              run: |
                pip install -U matplotlib nbval ipykernel scipy pandas guppy3 h5py

            - name: List all installed packages for reference
              run: pip list

            - name: Build TreeCorr
              run: pip install -vvv .

            - name: Run unit tests
              run: |
                cd tests
                pytest --cov=treecorr test*.py
                cd ..  # N.B. This seems to happen automatically if omitted.
                       # Less confusing to include it explicitly.

            - name: Upload coverage to codecov
              uses: codecov/codecov-action@v1

            - name: Test MPI
              # The code is already mostly checked in the main tests with mock_mpi.
              # These just check that the code works when run in a real mpi session.
              if: matrix.py > 3.0
              run: |
                cd tests
                which -a mpiexec
                which -a mpirun
                mpiexec -n 2 python -u mpi_test.py #>& mpi2.out
                mpiexec -n 1 python -u mpi_test.py #>& mpi1.out
                cd ..

            - name: Test Tutorial notebook
              if: matrix.py == 3.7
              run: |
                cd tests
                pytest --nbval Tutorial.ipynb --sanitize-with sanitize.cfg --current-env
                cd ..

